.Wizard-5 {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Wizard-5-main-container {
    display: flex;
}

.Wizard-5-left {
    height: 100vh;
    width: 483px;
    background-color: #AFD4C0;
    display: flex;
}

.Wizard-5-body {
    height: 100vh;
    width: 955px;
    background-color: #F6F0F0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Listing-container-5 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 30px;
    margin-top: 15px;
}

.New-listing-text-5 {
    font-size: 26px;
    font-weight: bolder;
}

.Cancel-5 {
    height: 35px;
    width: 65px;
    margin-top: 10px;
    background-color: #FEC2C2;
    color: black;
    font-weight: bolder;
}

.Step-container-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Step-5 {
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
}

.Wiz-5-Blips {
    display: flex;
    flex-direction: row;
    height: 40px;
    width : 780px;
    justify-content: space-around;
}

.Wiz-5-Blip-1 {
    background-image: url('../../../Pictures/step_completed.png');
    background-size: cover;
    height: 40px;
    width: 40px;
}

.Wiz-5-Blip-2 {
    background-image: url('../../../Pictures/step_completed.png');
    background-size: cover;
    height: 40px;
    width: 40px;
}

.Wiz-5-Blip-3 {
    background-image: url('../../../Pictures/step_completed.png');
    background-size: cover;
    height: 40px;
    width: 40px;
}

.Wiz-5-Blip-4 {
    background-image: url('../../../Pictures/step_completed.png');
    background-size: cover;
    height: 40px;
    width: 40px;
}

.Wiz-5-Blip-5 {
    background-image: url('../../../Pictures/step_active.png');
    background-size: cover;
    height: 40px;
    width: 40px;
}

.Rent-container {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.Rent-container p {
    font-size: 17px;
    font-weight: bolder;
    padding-top: 20px;
    text-align: center;
}

.Rent-text {
    font-size: 21px;
    font-weight: bolder;
    margin-left: 15px;
}

.Rent {
    resize: none;
    height: 18px;
    width: 100%;
    border-color: #519872;
    margin-top: 5px;
    width: 660px;
}

.Button-container-5 {
    display: flex;
    justify-content: space-between;
}

.Wiz-5-prev {
    height: 40px;
    width: 160px;
    margin-top: 50px;
    background-color: #3B5249;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}

.Wiz-5-next {
    height: 40px;
    width: 145px;
    margin-top: 50px;
    background-color: #8AEA92;
    color: black;
    font-size: 16px;
    border-radius: 4px;
}

.Wizard-5-right {
    height: 100vh;
    width: 482px;
    background-color: #AFD4C0;
}